<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRQCc5DQZ3Mev2_0nxl9FRJmucNxw47aU</string>
	<key>GCM_SENDER_ID</key>
	<string>182690166333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gossipGrove</string>
	<key>PROJECT_ID</key>
	<string>gossip-grove</string>
	<key>STORAGE_BUCKET</key>
	<string>gossip-grove.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182690166333:ios:78804ac3604385145e5c54</string>
</dict>
</plist>